{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<form method="post">
  {% csrf_token %}
  <input type="text" name="city1" placeholder="Enter city 1">
  <button type="submit">Get Weather</button>
</form>

<div class="city-container">
  {% if weather_data %}
    {% include 'weatherapp/city_weather.html' with weather_data=weather_data daily_forecasts=daily_forecasts %}
  {% endif %}
</div>

</body>
</html>
